<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>タスク編集</title>
    </head>
    <body>
        <%- include('header')%>
        <form action="/edit/<%= taskId %>"  method="post" class="form-container">
            <div class="mb-3">
                <label for="name" class="form-label">タスク名</label>
                <input type="text" class="form-control" id="name" name="name" value="<%= task.name %>" required>
            </div>
            <div class="mb-3">
                <label for="choice" class="form-label">カテゴリ</label>
                <input type="text" class="form-control" id="category" name="category" value="<%= task.category %>" required>
            </div>
            <div class="mb-3 deadline" id="deadline-div">
                <% deadlines.forEach((element, i) => { %>
                    <div class="mb-3 d-flex">
                        <div class="mb-3">
                            <label for="deadline" class="form-label">締め切り</label>
                            <input type="date" class="form-control mb-2 deadline-date" id="deadline" name="deadline" value="<%= element.deadline %>" required>
                            <input type="text" class="form-control deadline-description" id="deadlineDescription" name="deadlineDescription"
                                placeholder="何の締め切りか入力してください" value="<%= element.description %>" required>
                        </div>
                            <% if (i !== 0) { %>
                                <div>
                                    <button type="button" class="btn btn-primary mybtn" onclick="deleteDeadlineField()">delete</button>
                                </div>
                            <% } %>
                    </div>
                <% }) %>
            </div>
            <button type="button" class="btn btn-primary mybtn mb-4" onclick="addDeadlineField()">締め切りを追加</button>
            <div class="date-div" id="date-div">
                <% days.forEach((element, i) => { %>
                    <div class="mb-3 d-flex">
                        <div class="d-flex align-items-center eventDate">
                            <div>
                                <label for="startDay" class="form-label">開始日</label>
                                <input type="date" class="form-control" id="startDay" name="startDay" value="<%= element.startDay %>">
                            </div>
                            <div>
                                <p class="mb-0 between">～</p>
                            </div>
                            <div>
                                <label for="endDay" class="form-label">終了日</label>
                                <input type="date" class="form-control" id="endDay" name="endDay" value="<%= element.endDay %>">
                            </div>
                        </div>
                        <% if (i !== 0) { %>
                            <div>
                                <button type="button" class="btn btn-primary mybtn" onclick="deleteDateField()">delete</button>
                            </div>
                        <% } %>
                    </div>
                <% }) %>
            </div>
            <button type="button" class="btn btn-primary mybtn" onclick="addDateField()">日時を追加</button>
            <div class="radio-box">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="isSubmit" id="submitted" value="true" <% if(task.isSubmit) {%>checked<% } %> required>
                        <label class="form-check-label" for="submitted">
                            提出済み
                        </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="isSubmit" id="notSubmitted" value="false" <% if(!task.isSubmit) {%>checked<% } %> required>
                        <label class="form-check-label" for="notSubmitted">
                            未提出
                        </label>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mybtn">送信</button>
            </div>
        </form>

        <%- include('footer') %>

        <script src="/javascripts/edit_deadline.js"></script>
        <script src="/javascripts/edit_date.js"></script>
    </body>
</html>
